body {
    margin: 0;
    padding: 10px;
    background-color: rgb(173, 202, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


#escudo {

    width: 120px;

}

#navbar {
    background-color: rgb(74, 131, 255);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#noticias {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
 
}

.noticia {
    background-color: rgb(105, 152, 255);
    color: rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 200px;
    
}

.imagem_noticia {
    width: 202px;
   
}








#jogadores {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
 
}

.jogado {
    background-color: rgb(105, 152, 255);
    color: rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 200px;
    
}

.imagem_jogado {
    width: 202px;
   
}


.fixo{
 position: fixed;
    width: 100px;
   bottom: 10px;      
    right: 10px;         
    z-index: 1000;

}