#escudo {
width: 150px;
height: 120px;
}

#navbar{
    background-color: rgb(74, 131, 255);
    color: rgb(255, 255, 255);
display: flex;
justify-content: space-between  ;
align-items: center;
padding: 50px;

}

