#escudo {
width: 180px;
height: 150px;
}

#navbar{
    background-color: rgb(74, 131, 255);
    color: rgb(255, 255, 255);
display: flex;
justify-content: space-between  ;
align-items: center;
padding: 50px;

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: xx-large;

}

#noticias {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
}

.noticia {
background-color:  rgb(105, 152, 255);
color: rgb(0, 0, 0);
border: 5px solid rgb(0, 0, 0);

}

.imagem_noticia{

}